root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{tf,tfvars}]
indent_style = space
indent_size = 2

[*.{ts,tsx,js,jsx,json}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.swift]
indent_style = space
indent_size = 4

[*.{kt,kts}]
indent_style = space
indent_size = 4

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
